.popup {
  font-family: sans-serif, Arial, Helvetica;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(17, 17, 17, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1100;
}

.popup__cart-buttons {
  display: flex;
  justify-content: space-evenly;
}

.popup__cart-button {
  color: var(--white);
  width: 110px;
  padding: 10px;
  font-size: var(--step-0);
  background-color: var(--primary-green);
  border: thin solid var(--primary-green);
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.4s ease;
}

.popup__cart-button:hover {
  background-color: var(--dark-green);
}

.popup__cart-content {
  flex-grow: 1;
}

.popup__cart-delete-btn {
  color: var(--gray);
  border-color: var(--primary-red);
  background-color: var(--white);
}

.popup__cart-delete-btn:hover {
  color: var(--white);
  background-color: var(--primary-red);
}

.popup__cart-delete-item-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 50%;
  border: thin solid var(--primary-red);
  background-color: var(--white);
  cursor: pointer;
  transition: all 0.4s ease;
}

.popup__cart-delete-item-btn img {
  filter: brightness(1) invert(1);
  max-height: 15px;
}

.popup__cart-delete-item-btn:hover {
  border-color: var(--primary-red);
  background-color: var(--primary-red);
}

.popup__cart-delete-item-btn:hover img {
  filter: brightness(0) invert(1);
}

.popup__cart-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  list-style: none;
}

.popup__cart-list {
  font-size: var(--step-0);
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  gap: 5px;
  max-height: 280px;
  overflow-y: auto;
}

.popup__close {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: thin solid var(--primary-red);
  border-radius: 50%;
  position: absolute;
  right: 7px;
  top: -40px;
  padding: 5px;
  margin: 0;
  cursor: pointer;
  transition: all 0.2s ease;
}

.popup__close img {
  width: 20px;
  height: 20px;
}

.popup__close:hover {
  background-color: var(--primary-red);
}

.popup__content {
  max-width: 430px;
  width: 100%;
  min-height: 323px;
  background-color: var(--soft-white);
  border-radius: 15px;
  position: relative;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.popup__title {
  color: var(--black);
  font-size: var(--step-2);
  text-align: start;
}

@media screen and (min-width: 544px) {
  .popup__close {
    top: -39px;
    right: -37px;
  }
}
