.card {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 0 3px 2px var(--ligth-gray);
  margin: 0 auto;
  background-color: var(--white);
}

.card:hover {
  box-shadow: 0 0 3px var(--gray);
}

.card__cart-button {
  width: 92.8px;
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  background-color: var(--primary-green);
  border: thin solid var(--primary-green);
  transition: all 0.4s ease;
  cursor: pointer;
}

.card__cart-button:hover {
  background-color: var(--dark-green);
  border: thin solid var(--dark-green);
}

.card__cart-button > div {
  padding: 0 5px;
}

.card__description {
  padding: 0 10px;
  font-size: var(--step-0);
  color: var(--gray);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  overflow: hidden;
}

.card__image {
  object-fit: cover;
  object-position: center;
  max-width: 100%;
  border-radius: 20px 20px 0 0;
}

.card > div {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__price {
  font-weight: bold;
  color: var(--black);
}

.card__title {
  padding: 0 10px;
  color: var(--black);
}
