.nav {
  background-color: var(--white);
  background-color: var(--soft-white);
  box-shadow: 0 2px 2px 1px var(--ligth-gray);
}

.nav__list {
  font-size: 14px;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  list-style: none;
  padding: 10px;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  overflow-x: auto;
}

.nav__link {
  color: var(--gray);
  text-decoration: none;
  padding: 8px;
  border-radius: 25px;
}

.nav__link:hover {
  color: var(--white);
  background-color: var(--primary-green);
}

@media screen and (min-width: 600px) {
  .nav__list {
    justify-content: center;
  }
}
