.header {
  background-color: var(--white);
  width: 100%;
}

.header__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  border-radius: 50%;
  background-color: transparent;
  border: medium solid var(--primary-green);
  transition: all 0.4s ease;
  cursor: pointer;
}

.header__button:hover {
  background-color: var(--dark-green);
  border: medium solid var(--dark-green);
}

.header__content {
  background-color: var(--soft-white);
  max-width: 1024px;
  margin: 0 auto;
  padding: 15px 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__icons {
  display: flex;
  gap: 15px;
}

.header__user-icon,
.header__cart-icon {
  max-height: 25px;
  filter: drop-shadow(0 0 5px var(--ligth-gray));
  transition: all 0.4s ease;
}

.header__button:hover .header__user-icon,
.header__button:hover .header__cart-icon {
  filter: brightness(0) invert(1);
}

.header__logo {
  max-height: 50px;
  filter: drop-shadow(0 0 5px var(--ligth-gray));
}
