.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--soft-white);
  width: 100%;
  box-shadow: 0 2px 2px 1px var(--ligth-gray);
}

.header__button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  border-radius: 50%;
  background-color: transparent;
  border: thin solid var(--primary-green);
  transition: all 0.4s ease;
  cursor: pointer;
}

.header__cart-button {
  background-color: var(--primary-green);
}

.header__button:hover {
  background-color: var(--dark-green);
  border: thin solid var(--dark-green);
}

.header__button-info {
  font-size: 14px;
  color: var(--white);
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-red);
  border-radius: 50%;
  position: absolute;
  bottom: -10px;
  right: -10px;
}

.header__content {
  max-width: 1024px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__icons {
  display: flex;
  gap: 15px;
}

.header__cart-icon {
  color: var(--white);
}

.header__user-icon,
.header__cart-icon {
  max-height: 20px;
  transition: all 0.4s ease;
}

.header__button:hover .header__user-icon {
  filter: brightness(0) invert(1);
}

.header__logo {
  max-height: 40px;
  filter: drop-shadow(0 0 3px 2px var(--ligth-gray));
}

@media screen and (min-width: 544px) {
  .header__user-icon,
  .header__cart-icon {
    max-height: 20px;
  }
}
