.product-section {
  position: relative;
  background-color: var(--white);
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 10px;
}

.product-section__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  justify-content: start;
}

.product-section__title {
  position: sticky;
  top: 50px;
  z-index: 900;
  background-color: var(--white);
  color: var(--gray);
  margin: 0 0 50px 0;
  padding: 18px 10px 0 10px;
}
