.product-section {
  background-color: var(--soft-white);
  scroll-margin-top: 96px;
  position: relative;
  width: 100%;
}

.product-section__content {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 10px 20px 10px;
}

.product-section__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  justify-content: start;
}

.product-section__title {
  position: sticky;
  top: 96px;
  z-index: 900;
  background-color: var(--soft-white);
  color: var(--gray);
  padding-top: 20px;
  margin-top: 0;
  margin-bottom: 20px;
}
