@import url("./vendor/normalize.css");
@import url("./vendor/fonts.css");

:root {
  --primary-green: rgb(90, 135, 43);
  --dark-green: rgb(65, 107, 32);
  --ligth-green: rgb(160, 185, 131);
  --primary-red: rgb(237, 27, 47);
  --dark-red: rgb(201, 21, 39);
  --black: rgb(17, 17, 17);
  --gray: rgb(75, 75, 75);
  --ligth-gray: rgb(229, 231, 225);
  --white: rgb(255, 255, 255);
  --soft-white: rgb(247, 248, 245);

  box-sizing: border-box;
}
